{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css" />
    <link rel="stylesheet" href="{% static "/manufacture_page/style.css" %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel="icon" type="image/png" href="{% static "/manufacture_page/logo.png" %}">
  <title>About Prezotech</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">

       <!-- logo -->
      <a href="homepage.html" class="navbar-brand">
        <img src="https://i.ibb.co/523F1fP/poster5-20-12359-1.png"  width="45" height="35">
      </a>

      <a href="homepage.html" class="navbar-brand">Prezotech</a>
      <a href="https://api.whatsapp.com/send?phone=917529984220" style="font-size:17px;color:grey">
<!--        Send Message</a>-->
<!--      <a href="whatsapp://send?text=Hello World!&phone=+917529984220">-->
<!--        <i class="fa fa-whatsapp style="font-size:22px;color:blue" " aria-hidden="true"></i>-->
        Send Msg <i class="fa fa-whatsapp" style="font-size:23px;color:#25D366; "></i>
      </a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="homepage.html" class="nav-link">Home</a>
          </li>

          <li class="nav-item active">
            <a href="about.html" class="nav-link">About Us</a>
          </li>

          <li class="nav-item">
            <a href="services.html" class="nav-link">Products & Services</a>
          </li>
          <li class="nav-item">
            <a href= "homepage.html#newsletter" class="nav-link">Connect with us</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- PAGE HEADER -->
  <header id="page-header">
    <div class="container">
      <div class="row">

        <div class="col-md-6 m-auto text-center">
          <br>
          <h1 class="brown_bk"><span>About Us</span></h1>
          <p class="lead"><span>We evolve as per your needs!</span></p>
          <p class="lead"><span> GST <b>07AAICP6830G1ZB</b></span></p>
        </div>
      </div>
    </div>
  </header>

  <!-- ABOUT SECTION -->
  <section id="about" class="py-3">
    <div class="container">
      <div class="row">
        <ul class="col-md-6">
          <h1>Who We Are</h1>
          <p>We <b>“Prezotech Solutions Private Limited”</b> are well appreciated<b> Wholesale Trader,  Manufacturer and Retailer</b> of products
            like Billing & Inventory Software, Barcode Scanners, Barcode Labels, Barcode Ribbons, Barcode Printer, Bluetooth Thermal
            Printer, Biometric Machine, Industrial Barcode Printer, Bartender Software, etc. We are Service Provider of Barcode Printer
            Repairing Service, Barcode Scanner Repairing Services.<b> They are 100% quality assured and available at lowest rates.</b>We are
            dealing in these brands TSC, ZEBRA, MOTOROLA, HONEYWELL, RETSOL, REALTIME, CITIZEN, AVERY DENISSON. All these Barcode products
            are designed by our engineers with the use of best business approach and tools. Our engineers are experienced and talented in
            this realm. They create these Barcode products keeping in mind the market standards. All these Barcode products are handy and useful
            in many shopping malls, corporates, retailers. They are easy to use and 100% quality assured. Our customers can buy these barcode
            products from us at market leading rates!</p>
          <p>Our organization has gained lots of popularity in the market offering world class array of barcode products at lowest rates.
            We work under the headship of best guidance. His sincerity and dedication help us to keep our customers contended.</p>
          <p>Under the supervision of experienced team, our firm is achieving heights of achievement. We also provide various amenities to
            the patrons to put their demands forward and get them solve timely and as per their requirements.</p>
          <p><b>Call us at +91-9990768844 or email us at sales@prezotech.com</b></p>
          <p>Having been in business for years we have built a strong buying power within the market place and in turn our prices are of the
            most competitive nature. This, combined with the assurance of <b>high levels of technical knowledge, prompt service and quick delivery</b>
            which makes Prezotech <b>the optimal choice</b> for your Barcoding needs. Prezotech also have an expert team of <b>after-sales service professionals</b>,
            ready to help with technical or maintenance enquiries.</p>
          <p>Prezotech Solutions Private Limited is an <b>ISO 9001:2015 Certified Company</b> For the Quality management System standard:
          Certification No. - <b>KDAQCQ201709127</b>
         </p>
          <p>Main Branch:<br>
            <b>Prezotech Solutions Private Limited</b><br>
            A- 20 KH, 3rd Floor, Khasra No. 148,<br>
            Main Road Gazipur,<br>
            Patparganj Industrial Area,<br>
            New Delhi-110092, Delhi, India<br>
            <b>GST 07AAICP6830G1ZB</b>
          </p>

        </ul>


        <div class="col-md-6">
          <img src="{% static "/manufacture_page/about.jpg" %}" alt="" class="img-fluid rounded-circle d-none d-md-block about-img">
        </div>

        <ul>
          <li>
        <div  class="col-md-6">
          <img src="https://5.imimg.com/data5/IT/KP/MY-2/isocertificate-500x500.jpg" class="img-thumbnail d-md-block ">
        </div>
          </li>
        </ul>
        <ul>
          <li>
            <div>
    <a href="https://www.indiamart.com/prezotech/about-us.html" class="btn btn-info btn-block btn-lg " target="_blank"><b><u>Click here for more details</u></b></a>
</div>
          </li>

      </ul>

    </div>
  </section>



  <!-- ICON BOXES -->
  <section id="icon-boxes" class="p-5">
    <div class="container">
      <div class="row mb-4">
        <div class="col-md-4">
          <div class="card bg-danger text-white text-center">
            <div class="card-body">
              <i class="fas fa-building fa-3x"></i>
              <h3>Sample Heading</h3>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, adipisci.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-dark text-white text-center">
            <div class="card-body">
              <i class="fas fa-bullhorn fa-3x"></i>
              <h3>Sample Heading</h3>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, adipisci.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-white text-center">
            <div class="card-body">
              <i class="fas fa-comments fa-3x"></i>
              <h3>Sample Heading</h3>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, adipisci.
            </div>
          </div>
        </div>
      </div>

      <div class="row mb-4">
        <div class="col-md-4">
          <div class="card bg-dark text-white text-center">
            <div class="card-body">
              <i class="fas fa-box fa-3x"></i>
              <h3>Sample Heading</h3>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, adipisci.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-danger text-white text-center">
            <div class="card-body">
              <i class="fas fa-credit-card fa-3x"></i>
              <h3>Sample Heading</h3>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, adipisci.
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card bg-dark text-white text-center">
            <div class="card-body">
              <i class="fas fa-coffee fa-3x"></i>
              <h3>Sample Heading</h3>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, adipisci.
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- TESTIMONIALS -->
  <section id="testimonials" class="p-2 bg-dark text-white">
    <div class="container">
      <h3 class="text-center">Few of our client</h3>
      <div class="row text-center">
        <div class="col">
          <div class="slider">
            <div>
              <blockquote class="blockquote">
                <p class="mb-0">
                  Minda Automative
                </p>
                <footer class="blockquote-footer">Manesar, Haryana
                </footer>
              </blockquote>
            </div>
            <div>
              <blockquote class="blockquote">
                <p class="mb-0">
                  Amity University
                </p>
                <footer class="blockquote-footer">Noida
                </footer>
              </blockquote>
            </div>
             <div>
              <blockquote class="blockquote">
                <p class="mb-0">
                  Mahindra Logistics
                </p>
                <footer class="blockquote-footer">Delhi

                </footer>
              </blockquote>
            </div>
             <div>
              <blockquote class="blockquote">
                <p class="mb-0">
                  Godrej
                </p>
                <footer class="blockquote-footer">India
                </footer>
              </blockquote>
            </div>
            <div>
              <blockquote class="blockquote">
                <p class="mb-0">
                  Panasonic
                </p>
                <footer class="blockquote-footer">India
                </footer>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer id="main-footer" class="text-center p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright &copy;
            <span id="year"></span> Prezotech</p>
        </div>
      </div>
    </div>
  </footer>


  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    $('.slider').slick({
      infinite: true,
      slideToShow: 1,
      slideToScroll: 1
    });
  </script>
</body>

</html>