{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "/manufacture_page/style.css" %}">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <link rel="icon" type="image/png" href="{% static "/manufacture_page/logo.png" %}">
  <title>Label Manufacturer</title>
</head>

<body>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container">
             <!-- logo -->
      <a href="homepage.html" class="navbar-brand">
        <img src="https://i.ibb.co/523F1fP/poster5-20-12359-1.png"  width="45" height="35">
      </a>

          <a href="homepage.html" class="navbar-brand">Prezotech</a>
      <a href="https://api.whatsapp.com/send?phone=917529984220" style="font-size:17px;color:grey">
<!--        Send Message</a>-->
<!--      <a href="whatsapp://send?text=Hello World!&phone=+917529984220">-->
<!--        <i class="fa fa-whatsapp style="font-size:22px;color:blue" " aria-hidden="true"></i>-->
        Send Msg <i class="fa fa-whatsapp" style="font-size:23px;color:#25D366; "></i>
      </a>

      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="homepage.html" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="about.html" class="nav-link">About Us</a>
          </li>
          <li class="nav-item active">
            <a href="services.html" class="nav-link">Products & Services</a>
          </li>
          <li class="nav-item">
            <a href= "homepage.html#newsletter" class="nav-link">Connect with us</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>

  <!-- PAGE HEADER -->
  <header id="page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6 m-auto text-center">
          <br>
          <h1 class="brown_bk"><span>Our Services</span></h1>
          <p class="lead"><span>We serve beyond our boundaries as we care for your problems.</span></p>
        </div>
      </div>
    </div>
  </header>

  <br>
  <div>
    <a href="https://www.indiamart.com/prezotech/barcode-labels-printer.html" class="btn btn-danger btn-block btn-lg " target="_blank"><b><u>Click here to get all product in details</u></b></a>
</div>

  <!-- SERVICES SECTION -->
  <section id="services" class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-dark text-white">
              <h3>Billing & Inventory Software</h3>
            </div>
            <div class="card-body">
              <p class="card-text">What is Billing Software ? Billing Softwares are designed to handle
                time and billing tracking as well as invoicing customers for services and products.</p>
              <ul class="list-group">
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Designing Label Software
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Hotel and Banquet Hall Billing Software
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> ID Card and Excel Designing Printing Software
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Restaurant Billing Software
                </li>

              </ul>
              <a href="https://www.indiamart.com/prezotech/billing-inventory-software.html" target="_blank" class="btn btn-danger btn-block mt-2">See More products and details</a>
            </div>
          </div>
        </div>
<!--        2nd-->
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-dark text-white">
              <h3>Barcode Scanners</h3>
            </div>
            <div class="card-body">
              <p class="card-text">Our range of products include Honeywell Barcode Scanner, Motorola Barcode Scanner, Motorola MC-2180 Barcode Scanner,
                Retsol Barcode Scanners and Honeywell Mk7120 Table Top Omnidirection Barcode Scanner.</p>
              <ul class="list-group">
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Honeywell Barcode Scanner
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Motorola Barcode Scanner
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Motorola MC-2180 Barcode Scanner
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Retsol Barcode Scanners
                </li>
              </ul>
              <a href="https://www.indiamart.com/prezotech/barcode-scanners.html" class="btn btn-danger btn-block mt-2" target="_blank">See More products and details</a>
            </div>
          </div>
        </div>
<!--        3rd-->
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-dark text-white">
              <h3>Barcode Labels</h3>
            </div>
            <div class="card-body">
              <p class="card-text">Our product range includes a wide range of Beer & Wine Barcode Label, Polyester Barcode Labels, Barcode Stickers, Blank Barcode Labels and Barcode Labels.</p>
              <ul class="list-group">
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Beer & Wine Barcode Label
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Polyester Barcode Labels
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Barcode Stickers
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Blank Barcode Labels
                </li>
              </ul>
              <a href="https://www.indiamart.com/prezotech/barcode-labels.html" target="_blank" class="btn btn-danger btn-block mt-2">See More products and details</a>
            </div>
          </div>
        </div>
<!--        4th-->
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-dark text-white">
              <h3>Barcode Ribbons</h3>
            </div>
            <div class="card-body">
              <p class="card-text">We are a leading Manufacturer of Wash Care Ribbon, Barcode Ribbon, Wax Resin Barcode Ribbons, Thermal Transfer Wax Barcode Ribbon and Thermal Transfer Resin Ribbon from New Delhi, India.</p>
              <ul class="list-group">
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Wash Care Ribbon
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Barcode Ribbon
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Wax Resin Barcode Ribbons
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Thermal Transfer Wax Barcode Ribbon
                </li>
              </ul>
              <a href="https://www.indiamart.com/prezotech/barcode-ribbons.html" class="btn btn-danger btn-block mt-2" target="_blank">See More products and details</a>
            </div>
          </div>
        </div>

<!--        5th-->
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-dark text-white">
              <h3>Barcode Printer</h3>
            </div>
            <div class="card-body">
              <p class="card-text">Our range of products include Honeywell Barcode Scanner, Motorola Barcode Scanner, Motorola MC-2180 Barcode Scanner,
                Retsol Barcode Scanners and Honeywell Mk7120 Table Top Omnidirection Barcode Scanner.</p>
              <ul class="list-group">
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Citizen Barcode Printer
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Headay Gp1125 Label Printer
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> TSC TE200 Barcode Printer
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Zebra GC 420 Barcode Printer
                </li>
              </ul>
              <a href="https://www.indiamart.com/prezotech/barcode-printer.html" class="btn btn-danger btn-block mt-2" target="_blank">See More products and details</a>
            </div>
          </div>
        </div>

<!--        6th-->
        <div class="col-md-4">
          <div class="card text-center">
            <div class="card-header bg-dark text-white">
              <h3>Portable Data Terminal</h3>
            </div>
            <div class="card-body">
              <p class="card-text">Our range of products include Portable Data Terminal, Motorola Portable Data Terminal, Cipher LAB CP 55 Series Handheld Terminal and CIPHER LAB RS31 Series Handheld Terminal Barcode Scanner.</p>
              <ul class="list-group">
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Portable Data Terminal
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Motorola Portable Data Terminal
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> Cipher LAB CP 55 Series Handheld Terminal
                </li>
                <li class="list-group-item">
                  <i class="fas fa-check"></i> CIPHER LAB RS31 Series Handheld Terminal Barcode Scanner
                </li>
              </ul>
              <a href="https://www.indiamart.com/prezotech/portable-data-terminal.html" class="btn btn-danger btn-block mt-2" target="_blank">See More products and details</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <div>
    <a href="https://www.indiamart.com/prezotech/barcode-labels-printer.html" class="btn btn-danger btn-lg btn-block" target="_blank"><b><u>Click here to get all product in details</u></b></a>
</div>
  <br>


  <!-- FAQ -->
  <section id="faq" class="p-5 bg-dark text-white">
    <div class="container">
      <h1 class="text-center">Frequently Asked Questions</h1>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#collapseOne" data-toggle="collapse" data-parent="accordion">
                    Question One
                  </a>
                </h5>
              </div>

              <div id="collapseOne" class="collapse">
                <div class="card-body">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea officiis distinctio exercitationem dolor minus placeat
                  amet commodi, ab a perspiciatis officia nobis reiciendis numquam totam repudiandae molestias nulla, quod
                  voluptatibus modi rerum laboriosam tenetur. Nihil, soluta eaque? Minima, deserunt.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#collapseTwo" data-toggle="collapse" data-parent="accordion">
                    Question Two
                  </a>
                </h5>
              </div>

              <div id="collapseTwo" class="collapse">
                <div class="card-body">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea officiis distinctio exercitationem dolor minus placeat
                  amet commodi, ab a perspiciatis officia nobis reiciendis numquam totam repudiandae molestias nulla, quod
                  voluptatibus modi rerum laboriosam tenetur. Nihil, soluta eaque? Minima, deserunt.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#collapseThree" data-toggle="collapse" data-parent="accordion">
                    Question Three
                  </a>
                </h5>
              </div>

              <div id="collapseThree" class="collapse">
                <div class="card-body">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea officiis distinctio exercitationem dolor minus placeat
                  amet commodi, ab a perspiciatis officia nobis reiciendis numquam totam repudiandae molestias nulla, quod
                  voluptatibus modi rerum laboriosam tenetur. Nihil, soluta eaque? Minima, deserunt.
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div id="accordion">
            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#collapseFour" data-toggle="collapse" data-parent="accordion">
                    Question Four
                  </a>
                </h5>
              </div>

              <div id="collapseFour" class="collapse">
                <div class="card-body">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea officiis distinctio exercitationem dolor minus placeat
                  amet commodi, ab a perspiciatis officia nobis reiciendis numquam totam repudiandae molestias nulla, quod
                  voluptatibus modi rerum laboriosam tenetur. Nihil, soluta eaque? Minima, deserunt.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#collapseFive" data-toggle="collapse" data-parent="accordion">
                    Question Five
                  </a>
                </h5>
              </div>

              <div id="collapseFive" class="collapse">
                <div class="card-body">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea officiis distinctio exercitationem dolor minus placeat
                  amet commodi, ab a perspiciatis officia nobis reiciendis numquam totam repudiandae molestias nulla, quod
                  voluptatibus modi rerum laboriosam tenetur. Nihil, soluta eaque? Minima, deserunt.
                </div>
              </div>
            </div>

            <div class="card">
              <div class="card-header">
                <h5 class="mb-0">
                  <a href="#collapseSix" data-toggle="collapse" data-parent="accordion">
                    Question Six
                  </a>
                </h5>
              </div>

              <div id="collapseSix" class="collapse">
                <div class="card-body">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt ea officiis distinctio exercitationem dolor minus placeat
                  amet commodi, ab a perspiciatis officia nobis reiciendis numquam totam repudiandae molestias nulla, quod
                  voluptatibus modi rerum laboriosam tenetur. Nihil, soluta eaque? Minima, deserunt.
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- FOOTER -->
  <footer id="main-footer" class="text-center p-4">
    <div class="container">
      <div class="row">
        <div class="col">
          <p>Copyright &copy;
            <span id="year"></span> Prezotech</p>
        </div>
      </div>
    </div>
  </footer>


  <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
    crossorigin="anonymous"></script>

  <script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

  </script>
</body>

</html>